@media screen and (max-width: 1024px) {
    .container-wrapper{
        max-height: 45px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    
    
    
    .navigation-section {
        position: absolute;
        background-color: #363A4D;
        top: 55px;
        left: 0;
        max-height: 0px;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: .3s;
        &.show {
            max-height: 515px;
           
        }
    }
    
    .navigation-list {
        flex-direction: column;
        gap: 15px;
        margin-top: 37px;
        margin-bottom: 34px;
        a {
            font-size: 26px;
            line-height: 222%;
            color: #fff;
        }

        a:hover {
            color: rgb(231, 165, 24);
        }
    }
    
    .navigation-btn {
        padding: 24px 86px;
        font-size: 16px;
        margin-bottom: 60px;
    }

    #burger {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .slider-info {
        padding: 0;
        .swiper-slide {
            min-height: calc(100vh - 71px);
            border-radius: 0;
            padding: 68px 20px 0;
            background-position: center;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: #04051199;
                
            }
        }
      }

      .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
         .title {
            font-size: 32px;
         }
         .description {
            font-size: 16px;
            max-width: 275px;
            margin-bottom: 20px;
         }
      }

      

      .btn-lg {
        padding: 19.6px 25px;
      }
    }



