@media (min-width: 1025px) {
     #burger {
        display: none;
    }

   .template-title {
      &.half-section {
         &:after {
           content: "";
           display: none;
      }

       h2:after {
        display: inline-block;
       }
    }

     

   }

  .template-title {
    &.text-lg-start {
        &:after{
          left: 0; 
          transform: none;
        }
      }
  }  
}


