@media (min-width: 1025px) {
     #burger {
        display: none;
    }

   .template-title {
      &.half-section {
         &:after {
           content: "";
           display: none;
      }

       h2:after {
        display: inline-block;
       }
    }

     

   }

  .template-title {
    &.text-lg-start {
        &:after{
          left: 0; 
          transform: none;
        }
      }
  }  

  .slider-advantages {
    .swiper-wrapper {
      flex-wrap: wrap;
      gap: 26px 0;
    }
    .swiper-slide {
      max-width: 25%;
    }
  }
}


