.banner {
    width: 1298px;
}
.banner-title {
    font-size: 56px;
    line-height: 1.26;
    margin-bottom: 8px;
    max-width: 410px;
}

.banner-description {
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 37px;
    font-weight: 300;
    max-width: 320px;
}