.slick-track {
	display: flex;
}

.header-nav {
	@extend .container;
	display: flex;
	padding-top: 25px;
	padding-bottom: 39px;
    position: relative;
	.btn{
		padding: 13px 21px;
	}
}

.mobile-container {
	width: 100%;
}

.header-nav-list {
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 45px;
	padding: 4px 12px 0 12px;
	a {
		color: #fff;
		text-decoration: none;
	}
}

#burger.btn-primary {
	padding: 1.3px 13.5px;
	border: none;
	position: relative;

	&:before,
	&:after {
		content: "";
		top: -11px;
		left: 0;
		position: absolute;
		height: 2.5px;
		width: 27px;
		background: #fff;
		transition: .3s;
	}

	&:after {
		top: initial;
		bottom: -11px;
		left: 0;
	}

	&.open {
		background: transparent;
		&:before {
			transform: rotate(-45deg) translate(-6px, 6px);
		}

		&:after {
			transform: rotate(-45deg) translate(-6px, 6px);
		}
	}
}