$font-primary: "montserrat";
$color-primary: #E58D35;
$color-secondary: #89C249;
$bg-primary:#282B38;
$bg-secondary: #363A4D;
$color-text: #ffffff;
$box-shadow: #1e234247;
$color-background: #282B38;

$container-padding: 30px;
$container-mobile-padding: 20px;

$section-margin-lg: 95px;
$section-margin: 60px;
 