<section class="advantages accent">
  <div class="container">
      <div class="template-title">
          <h2>Чому варто вибрати саме нас?</h2>
      </div>
      <div class="slider-advantages">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-1.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Митне оформлення вантажу</h6>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-2.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Страхування вантажу</h6>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-3.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Перевірка товару на брак</h6>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-4.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Доставка в будь-яке місто України</h6>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-5.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Консолідація на складі</h6>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-6.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Відповідальне зберігання вантажу</h6>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-7.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Допомога в оплаті товару</h6>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="advantage">
                      <div class="img-box">
                          <img src="assets/img/file-8.svg" alt="">
                      </div>
                      <h6 class="advantages-title">Упаковка, перепакування, палетування вантажу до міжнародного перевезення</h6>
                  </div>
              </div>
          </div>
          <div class="swiper-pagination"></div>
      </div>
  </div>
</section>