<section class="calculation">
  <div class="container">
      <div class="template-title half-section">
          <h2 >Отримати розрахунок вартості доставки вашого вантажу</h2>
      </div>
      <form class="calculation-form">
          <div class="form-row">
              <div class="form-column">
                  <div class="input-box">
                      <label for="category">Категорія товару:</label>
                      <input id="category" type="text" placeholder="Категорія товару">
                  </div>
                  <div class="input-box">
                      <label for="weight">Вага грузу (кг):</label>
                      <input id="weight" type="text" placeholder="Вага грузу (кг)">
                  </div>
              </div>
              <div class="form-column">
                  <div class="input-box">
                      <label for="price">Вартість вантажу:</label>
                      <input id="price" type="text" placeholder="Вартість вантажу:">
                  </div>
                  <div class="input-box">
                      <label for="value">Об'єм вантажу (м3):</label>
                      <input id="value" type="text" placeholder="Об'єм вантажу (м3)">
                  </div>
              </div>

          </div>
          <div class="form-row special-gap">
              <div class="form-column">
                  <div class="variation-box">
                      <div class="control-box">
                          <input id="insurance" type="checkbox" value="insurance">
                          <label for="insurance">Страховка</label>
                      </div>
                      <div class="control-box">
                          <input id="paperwork" type="checkbox" value="paperwork">
                          <label for="paperwork">Митне оформлення</label>
                      </div>
                  </div>
              </div>

              <div class="form-column">
                  <div class="input-box">
                      <label for="cod">Код ТН ВЭД:</label>
                      <input id="cod" type="text" placeholder="Код ТН ВЭД">
                  </div>
              </div>
          </div>

          <div class="form-row">
              <div class="form-column">
                  <div class="input-box">
                      <div id="file-name">світлина.jpeg</div>

                      <input id="calculation-file" type="file">
                      <label for="calculation-file" class="calculation-file">Завантажити файл</label>
                  </div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-column">
                  <button type="button" class="btn btn-primary btn-lg">Наступний крок<img src="assets/img/arrow.svg" class="icon"></button>
              </div>

          </div>
      </form>
      <img src="assets/img/man.png" class="calculation-decoration" alt="decoration">
  </div>
</section>