<section class="first-screen">
  <div class="slider-info">
      <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(assets/img/first-screen-1.png);">
              <div class="container">
                  <div class="banner">
                      <h1 class="banner-title">Пряме КАРГО з Китаю</h1>
                      <h6 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h6>
                      <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/arrow.svg" class="icon"></button>
                  </div>
              </div>
          </div>
          <div class="swiper-slide" style="background-image: url(assets/img/first-screen-2.png);">
              <div class="container">
                  <div class="banner">
                      <h1 class="banner-title">Пряме КАРГО з Китаю</h1>
                      <h6 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h6>
                      <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/arrow.svg" class="icon"></button>
                  </div>
              </div>
          </div>
          <div class="swiper-slide" style="background-image: url(assets/img/first-screen-3.png);">
              <div class="container">
                  <div class="banner">
                      <h1 class="banner-title">Пряме КАРГО з Китаю</h1>
                      <h6 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h6>
                      <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/arrow.svg" class="icon"></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="arrow-container">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
  </div>
</section>