<section class="question-page">
    <div class="container">
        <div class="template-title">
            <h2>Поширені запитання</h2>
        </div>
        <div class="question-container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Як розраховується вартість доставки?
            </button>
        </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. At officiis velit deleniti vero, optio repellat nobis saepe laboriosam iste iusto voluptatum voluptatibus.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Як відбувається оплата за доставку вантажу?
            </button>
        </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat labore dignissimos, adipisci corporis asperiores provident mollitia repellendus cum reiciendis consequuntur quis. Ab, cupiditate reprehenderit, ipsum excepturi a odio ipsam reiciendis quidem nobis tempore, minima itaque dolorum necessitatibus porro rem explicabo!</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Як відбувається оплата за доставку вантажу?
            </button>
        </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, neque esse.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Чи можна через вас сплатити товар постачальнику?
            </button>
        </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugit qui quia molestias eius eligendi modi enim deserunt facere dolores, fugiat inventore sunt ullam cum itaque culpa. Sit molestiae nihil aliquid dolorem quia saepe quae iusto natus ab odio doloribus id, perspiciatis, ipsa repudiandae corporis. Repellendus minus repellat, aliquam beatae, atque architecto ea illum mollitia vitae modi aliquid fugit earum dolores veniam sint consequatur dignissimos dolorem cumque optio. Aperiam placeat voluptatibus quaerat eaque consequuntur recusandae odio nostrum!</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                У чому особливість КАРГО доставки з Китаю
            </button>
        </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugit qui quia molestias eius eligendi modi enim deserunt facere dolores, fugiat inventore sunt ullam cum itaque culpa. Sit molestiae nihil aliquid dolorem quia saepe quae iusto natus ab odio doloribus id, perspiciatis, ipsa repudiandae corporis. Repellendus minus repellat, aliquam beatae, atque architecto ea illum mollitia vitae modi aliquid fugit earum dolores veniam sint consequatur dignissimos dolorem cumque optio. Aperiam placeat voluptatibus quaerat eaque consequuntur recusandae odio nostrum!</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                Який термін доставки із Китаю?
            </button>
        </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sapiente minima. Eos commodi id quibusdam distinctio velit in. Voluptas magni nam id vitae inventore deleniti quisquam autem esse itaque officia cumque nisi consequuntur dolorum reprehenderit odio, vero quis dolor voluptates numquam quaerat, officiis, rerum corrupti odit hic! Perspiciatis earum neque, quia non delectus voluptatem magni?</div>
                    </div>
                </div>
            </div>
            <form class="question-form calculation-form">
                <h3 class="form-title">Залишились питання?</h3>
                <p class="form-description">Залишіть заявку і наш менеджер відповість вам найближчим часом</p>
                <div class="input-box">
                    <input type="text" id="name" placeholder="Имя *">
                    <input type="text" id="surname" placeholder="Телефон *">
                    <input type="text" id="email" placeholder="E-mail">
                    <textarea id="question" placeholder="Ваше питання"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-lg">Відправити запит<img src="assets/img/arrow.svg" class="icon"></button>
            </form>
        </div>
    </div>
</section>