<header>
    <div class="container container-wrapper">
        <a href="index.html" class="logo">
      <img class="logo-first img-fluid" src="assets/img/logo-first.svg" alt="logo">
  </a>
        <div class="navigation-section">
            <nav class="navigation-list">
                <a href="#">Ціни та терміни</a>
                <a href="#">Послуги</a>
                <a href="#">Про компанію</a>
                <a href="#">Контакти</a>
                <a href="#">Оформити вантаж</a>
            </nav>
            <button type="button" class="btn  btn-primary navigation-btn">Залишити заявку</button>
        </div>
        <button id="burger" class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
          <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>



