<header>
    <div class="header-nav">
      <a href="index.ntml" class="logo">
            <img src="assets/img/logo.svg" alt="logo">
        </a>
        <div class="mobile-container  d-lg-flex">
         <nav class="header-nav-list">
            <a href="#">Цены и сроки</a>
            <a href="#">Услуги</a>
            <a href="#">О компании</a>
            <a href="#">Контакты</a>
            <a href="#">Оформить груз</a>
          </nav>
          <button type="button" class="btn btn-primary">Оставить заявку</button>
        </div>
    <button id="burger" class=" btn btn-primary open d-lg-none ms-auto"></button>
    </div>   
</header>

